1. Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i

In [1]:
a=str(input())
x=','.join(a)
print(x)

guvi
g,u,v,i

2. Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [2]:
A=int(input())
print(A)

2
2

In [ ]:
3. Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8

In [3]:
x=input().split(' ')
y=list(map(int,x))
print(*y)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

In [ ]:
4. Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5

In [5]:
a,k=input().split()
c,d = list(map(int,(a,k)))
b=input().split()
print(c,d)
if len(b)<=c:
    print(" ".join(b))

5 3
1 2 3 4 5
5 3
1 2 3 4 5

5. Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4

In [6]:
y=input().split(' ')
b=input().split(' ')
d=input().split(' ')
r=list(map(int,(y)))
s=list(map(int,(b)))
t=list(map(int,(d)))
print(*r)
print(*s)
print(*t)

2 4
2 4
2 4
2 4
2 4
2 4

6. Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5

In [7]:
x=int(input())
y=int(input())
z=int(input())
print(x,y,z)

2
4
5
2 4 5

7. Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5

In [ ]:
y=input().split(' ')
b=input().split(' ')
d=input().split(' ')
r=list(map(int,(y)))
s=list(map(int,(b)))
t=list(map(int,(d)))
print(*r)
print(*s)
print(*t)

In [ ]:
8. Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i

In [ ]:
a=str(input())
x=' '.join(a)
print(x)

9.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8

In [ ]:
y=input().split(' ')
r=list(map(float,y))
print(*r,sep='\n')

10. Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k

In [ ]:
a=str(input())
for x in a:
    print(x)